<%= form_with(model: worksheet, local: true) do |form| %>
  <% if worksheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h2>

      <ul>
      <% worksheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %></br></br>
      <%= form.label :exercise %>
      <% [ 'ex1', 'ex2', 'ex3', 'ex4', 'ex5' ].each do |exercise| %>
        <%= form.check_box :exercises, {}, exercise %>
        <%= exercise.humanize %>
      <% end %>
    <%= form.hidden_field :gym_id, value: params[:gym] %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>