<%= form_with(model: worksheet, local: true) do |form| %>
  <% if worksheet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h2>

      <ul>
      <% worksheet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <% if gym_signed_in? %>
      <%= form.label :exercise %>
      <%= form.check_box :ex1, {}, "ex1" %>
      <%= "ex1".humanize %>
      <%= form.check_box :ex2, {}, "ex2" %>
      <%= "ex2".humanize %>
      <%= form.check_box :ex3, {}, "ex3" %>
      <%= "ex3".humanize %>
      <%= form.label :comments %>
      <%= form.text_field :comments %></br></br>
    <% end %>
    <% if athlete_signed_in? %>
      <%= form.hidden_field :gym_id, value: params[:gym] %>
    <% end %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>