<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @worksheet.comments %>
</p>

<p>
  <strong>athlete:</strong>
  <%= @worksheet.athlete %>
</p>

<p>
  <strong>gym:</strong>
  <%= @worksheet.gym %>
</p>

<%= link_to 'Edit', edit_worksheet_path(@worksheet) %> |
<%= link_to 'Back', worksheets_path %>
