<br>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%- if "#{OmniAuth::Utils.camelize(provider)}" == "Facebook" %>
      <%= link_to "<button type='button' class='btn btn-primary btn-block'>Sign in with Facebook</button>".html_safe, omniauth_authorize_path(resource_name, provider) %><br />
    <% elsif "#{OmniAuth::Utils.camelize(provider)}" == "GoogleOauth2" %>
      <%= link_to "<button type='button' class='btn btn-danger btn-block'>Sign in with Google</button>".html_safe, omniauth_authorize_path(resource_name, provider) %><br />
    <% end %>
  <% end %>
<% end %>

<%- if controller_name != 'sessions' %>
  <%= link_to "<button type='button' class='btn btn-secondary btn-block'>Go to Login page</button>".html_safe, new_session_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <%= link_to "<button type='button' class='btn btn-secondary btn-block'>Go to Sign-up page</button>".html_safe, new_registration_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "<button type='button' class='btn btn-secondary btn-block'>Didn't receive confirmation instructions?</button>".html_safe, new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "<button type='button' class='btn btn-secondary btn-block'>Didn't receive unlock instructions?</button>".html_safe, new_unlock_path(resource_name) %><br />
<% end %>
