<!-- gym Home -->
<% if current_gym.address.nil? %>
  <div class="alert alert-danger" role="alert">
  <%= image_tag("danger.png", :size =>"20x20" ) %> &nbsp; Take care, you don't have an address,
   click <%= link_to 'here', gym_address_path %> to add it or you won't be showed on the map
  </div>
<% end %>

<%= render 'layouts/carousel' %>
<hr />

<div class="card-body">
  <div class="row" style="text-align: center;">

   <div class="col-sm-4 zoom">
     <a href="/gym/my_courses"><%= image_tag("course.svg", :size =>"150x150") %></a><br/>
     <a class="btn btn-primary" href="/gym/my_courses">My Courses </a>
   </div>
   <div class="col-sm-4 zoom">
     <a href="/gym/my_coupons"><%= image_tag("soldi.png", :size =>"150x150") %></a><br/>
     <a class="btn btn-primary" href="/gym/my_coupons">MY Coupons </a>
   </div>
   <div class="col-sm-4 zoom">
     <a href="/gym/my_worksheets"><%= image_tag("worksheet.svg", :size =>"150x150") %></a><br/>
     <a class="btn btn-primary" href="/gym/my_worksheets">My Worksheets </a>
   </div>
  </div>
  <br>
</div>
