<p id="notice"><%= notice %></p>

gym Home

</br>
<%= link_to "profile", gym_profile_path %>

</br></br></br>
<%= link_to "my courses", gym_my_courses_path %>
<%= link_to "my coupons", gym_my_coupons_path %>
<%= link_to "my worksheets", gym_my_worksheets_path %>
