<div class="card" style="width: 18rem;">
  <%= image_tag("course.png", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1>My Worksheets </h1><p class="card-text"></p>
  </div>
</div>
</br>
<hr>
<h1 style="text-align:center;">worksheets ricevute</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Comments</th>
      <th scope="col">Athlete</th>
      <th scope="col">Gym</th>
    </tr>
  </thead>

  <tbody>
    <% (@worksheets).each do |worksheet| %>
      <tr>
        <td><%= worksheet.comments %></td>
        <td><%= worksheet.athlete.username %></td>
        <td><%= worksheet.gym.username %></td>
        <td><%= link_to 'Show', worksheet %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
