<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <%= image_tag("worksheet.svg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1>Worksheets received</h1><p class="card-text"></p>
  </div>
</div>
</br>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">To do</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Athlete</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% (@worksheets).each do |worksheet| %>
          <tr>
            <td><%= worksheet.athlete.username %></td>
            <td><%= link_to 'Show', worksheet %></td>
            <td><%= link_to 'Edit', edit_worksheet_path(worksheet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>
<br>

<div class="card">
  <div class="card-body">
    <h3 class="card-title">Completed</h3>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">Athlete</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% (@worksheets).each do |worksheet| %>
          <tr>
            <td><%= worksheet.athlete.username %></td>
            <td><%= link_to 'Show', worksheet %></td>
            <td><%= link_to 'Edit', edit_worksheet_path(worksheet) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<br>
