<!-- profile page -->

<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <%= image_tag("palestra.jpg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1><%= current_gym.username %></h1>
    <p class="card-text"></p>
    <p class="card-text">Email: <i><%= current_gym.email %> </i> </p>
    <p class="card-text">Address: <i><%= current_gym.address %> </i></p>
  </div>
</div>

<hr>

<div class="text-right">
<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target='#'>Change address</button>".html_safe, gym_address_path %>
<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target='#'>My courses</button>".html_safe, gym_my_courses_path %>
<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target='#'>My coupons</button>".html_safe, gym_my_coupons_path %>
<%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target='#'>My worksheets</button>".html_safe, gym_my_worksheets_path %>
</div>
