<%= form_with(model: coupon, local: true) do |form| %>
  <% if coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% coupon.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="card shadow p-3 mb-5 bg-white rounded">
  <div class="card-body">

    <div class="field">
      <%= form.label :name %>
      <%= form.text_field :name , :class =>"form-control"%>
    </div>
    <br/>

    <div class="field">
      <%= form.label :code %>
      <%= form.text_field :code , :class =>"form-control"%>
    </div>
    <br/>

    <div class="field">
      <%= form.label :description %> <br/>
      <%= form.text_area :description , :class =>"form-control"%>
    </div>
    <br/>

    <div class="actions">
      <%= form.submit :class =>"btn btn-primary navbar-btn"%>
    </div>
    <% end %>

  </div>
</div>
