<p>
  <strong>Code:</strong>
  <%= @coupon.code %>
</p>

<p>
  <strong>gym:</strong>
  <%= @coupon.gym.username %>
</p>

<p>
  <strong>athletes:</strong>
  <%= @coupon.athletes %>
</p>

<%= link_to 'Edit', edit_coupon_path(@coupon) %> |
<%= link_to 'Back', coupons_path %>
