<div>

  <div class="card one" style="width: 18rem;">
    <%= image_tag("palestra.jpg", :class => "card-img-top", :alt => "Card image cap") %>
    <div class="card-body">
      <h1><%= @coupon.name %></h1>
      <p class="card-text"><br>From gym: <i>
        <%= link_to "#{@coupon.gym.username}", gym_path(@coupon.gym.id) %></i></p>
      <p class="card-text"><br>Code: <b><%= @coupon.code %></b></p>
    </div>
  </div>

  <div class="card two">
    <div id="map"  style="height: 310px; margin: 2%; background: grey" > </div>
  </div>

</div>

</br>

<div class="card">
  <div class="card-body">
<p class="card-text"><br>Coupon description: <i><%= @coupon.description %></i></p>
  </div>
</div>

</br>


<br><br>


<script type="text/javascript">
if (document.readyState=='complete'){
  location.reload();
}

document.addEventListener('DOMContentLoaded', function(){
  // Initialize the  communication with the platform
  var platform = new H.service.Platform({
    'app_id': 'A3k50ziCbuDE8NVHU1lr',
    'app_code': 'PfpBfdphIFeJ0zMC2cq1Pw'
  });
  var pixelRatio = window.devicePixelRatio || 1;
  var defaultLayers = platform.createDefaultLayers({
    tileSize: pixelRatio === 1 ? 256 : 512,
    ppi: pixelRatio === 1 ? undefined : 320
  });

  //Initialize map
  var map = new H.Map(document.getElementById('map'),
    defaultLayers.normal.map, {
      pixelRatio: pixelRatio,
      zoom: 12,
      center: { lat: 41.90, lng: 12.5 }
    });

  //for interactions and UI components
  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
  var ui = H.ui.UI.createDefault(map, defaultLayers);

  //add markers
  var lati = <%= @coupon.gym.latitude %>;
  var lngi = <%= @coupon.gym.longitude %>;

  var marker = new H.map.Marker({
    lat: lati, lng: lngi});

  map.addObject(marker);
  map.setCenter({lat:lati, lng:lngi});
});
</script>
