<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<%= link_to "athlete home", athlete_home_path %>
<%= link_to "gym home", gym_home_path %>
</br>
</br>

<%= link_to "courses", courses_path %>
<%= link_to "coupons", coupons_path %>
<%= link_to "worksheets", worksheets_path %>
</br>
<%= link_to "athlete log_in", new_athlete_session_path %>
</br>
<%= link_to "gym log_in", new_gym_session_path %>

</br></br>

<% if gym_signed_in? %>
  u are now logged in as gym, for logout
  <%= link_to "logout", destroy_gym_session_path, method: :delete %>
<% end %>

<% if athlete_signed_in? %>
  u are now logged in as athlete, for logout
  <%= link_to "logout", destroy_athlete_session_path, method: :delete %>
<% end %>
