<%= form_with(model: gym_review, local: true) do |form| %>
  <% if gym_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym_review.errors.count, "error") %> prohibited this gym_review from being saved:</h2>

      <ul>
      <% gym_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :text %>
    <%= form.text_area :text %>
    <%= form.hidden_field :gym_id, value: params[:gym] %>
  </div>



  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
