<%= form_with(model: gym_review, local: true) do |form| %>
  <% if gym_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym_review.errors.count, "error") %> prohibited this gym_review from being saved:</h2>

      <ul>
      <% gym_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
    <div class="field">
      <div class="card">
        <h2 class="card-title">Insert here your review</h2>
        <div class="card-body">
          <h4><%= form.label :text %></h4>
          <%= form.text_area :text %>
        </div>
      </div>

      <%= form.hidden_field :gym_id, value: params[:gym] %>
    </div>




  <div class="actions">
    <%= form.submit :class =>"btn btn-primary btn-danger navbar-btn"%>
  </div>
<% end %>
