<%= form_with(model: gym_review, local: true) do |form| %>
  <% if gym_review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(gym_review.errors.count, "error") %> prohibited this gym_review from being saved:</h2>

      <ul>
      <% gym_review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
    <div class="field">
      <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="card-body">
          <h4><%= form.label :text %></h4>
          <%= form.text_area :text , :class =>"form-control"%>
        </div>

        <div class="card-body">
          <h4><%= form.label :stars %></h4>
          1&nbsp;<%= form.radio_button :stars, '1', :value => "1", :checked => true %> &nbsp;
          2&nbsp;<%= form.radio_button :stars, '2', :value => "2" %> &nbsp;
          3&nbsp;<%= form.radio_button :stars, '3', :value => "3" %> &nbsp;
          4&nbsp;<%= form.radio_button :stars, '4', :value => "4" %> &nbsp;
          5&nbsp;<%= form.radio_button :stars, '5', :value => "5" %> &nbsp;
        </div>
      </div>

      <%= form.hidden_field :gym_id, value: params[:gym] %>
    </div>

  <div class="actions">
    <%= form.submit :class =>"btn btn-primary navbar-btn"%>
  </div>
<% end %>
<br>
