<p id="notice"><%= notice %></p>

athlete Home
</br>
<%= link_to "profile", athlete_profile_path %>


</br></br></br>
search for new
</br>
<%= link_to "gyms", gyms_path %>
<%= link_to "courses", courses_path %>
<%= link_to "coupons", coupons_path %>

</br></br>
