<!-- athlete Home -->
<% if current_athlete.height.nil? || current_athlete.weight.nil? || current_athlete.age.nil?  %>
  <div class="alert alert-danger" role="alert">
  <%= image_tag("danger.png", :size =>"20x20" ) %> &nbsp; Take care, your body features are not available,
   click <%= link_to 'here', athlete_settings_path %> or the gyms won`t be able to create a proper worksheet for you
  </div>
<% end %>

<%= render 'layouts/carousel' %>
<hr>

<h1 style="text-align: center;">Search for new</h1>
  <div class="card-body">
    <div class="row" style="text-align: center;">
     <div class="col-sm-4 zoom">
       <a href="/gyms"><%= image_tag("peso.svg", :size =>"150x150") %></a><br/>
       <a class="btn btn-primary" href="/gyms">Gyms </a>
     </div>
     <div class="col-sm-4 zoom" id="course">
       <a href="/courses"><%= image_tag("course.svg", :size =>"150x150") %></a><br/>
       <a class="btn btn-primary" href="/courses">Courses </a>
     </div>
     <div class="col-sm-4 zoom">
       <a href="/coupons"><%= image_tag("soldi.png", :size =>"150x150") %></a><br/>
       <a class="btn btn-primary" href="/coupons">Coupons </a>
     </div>
    </div>
    <br>
  </div>
