<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
  <%= image_tag("palestra.jpg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1>My Gyms </h1><p class="card-text"></p>
  </div>
</div>
</br>

<div class="container">
  <div class="row scroll">

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <%  (@gyms || []).each do |gym| %>
          <tr>
            <td><%= gym.username %></td>
            <td><%= gym.email %></td>
            <td><%= link_to 'Show', gym , :class=>"btn btn-outline-primary"%></td>
            <td><%= link_to "Leave", gyms_leave_path(:id => gym.id), method: :put , :class=>"btn btn-outline-primary"%></td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>

<br>
