<p id="notice"><%= notice %></p>

<h1>Gyms</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gyms.each do |gym| %>
      <tr>
        <td><%= gym.email %></td>
        <td><%= gym.likes %></td>
        <td><%= link_to 'Show', gym %></td>
        <% if athlete_signed_in? && !(gym.already_joined(gym, current_athlete)) %>
            <td><%= link_to "join", gyms_join_path(:id => gym.id), method: :put %></td>
        <% end %>
        <% if athlete_signed_in? && gym.already_joined(gym, current_athlete) %>
            <td><%= link_to "leave", gyms_leave_path(:id => gym.id), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
