<div class="card" style="width: 18rem;">
  <%= image_tag("palestra.jpg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1>Gym:</h1><p class="card-text"><%= @gym.email %></p>
  </div>
</div>
</br>

<strong>comments:</strong>
<tbody>
<% @gym.gym_reviews.each do |comment| %>
  <tr>
    <td><%= comment.text %></td>
  </tr>
<% end %>
</tbody></br></br>
<% if athlete_signed_in? %>
<td><%= link_to "Vote", new_gym_review_path(gym: @gym.id)%></td>
<% end %></br></br>
<% if athlete_signed_in? %>
<td><%= link_to "Require Worksheet", new_worksheet_path(gym: @gym.id)%></td>
<% end %></br>
