<div class="container">
  <div class="row">
    <div class="col-md-4">

      <div class="card one shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <%= image_tag("peso.svg", :class => "card-img-top", :alt => "Card image cap") %>
        <div class="card-body">
          <h1><%= @gym.username %></h1>
          <p class="card-text"><br>Email: <i><%= @gym.email %></i></p>
          <p class="card-text"><br>Address: <i><%= @gym.address %></i></p>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div id="map"  style="height: 470px; margin: 2%; background: grey" > </div>
    </div>
  </div>
</div>


<div class="card-body">
      <h5 class="mt-0"> <i class="fa fa-comments"></i>&nbsp; Reviews </h5> <hr>

      <% @gym.gym_reviews.each do |review| %>
      <div class="card mb-2">
        <div class="card-header">Posted by <i> <%= review.athlete.username %> &nbsp; &nbsp;
            <%= review.stars.to_i.times do |i| %>
              <i class="fa fa-star"></i>
            <% end %>
         </div>
          <div class="card-body">
            <%= review.text %>

          <footer class="blockquote-footer"><%= review.created_at %></footer>
          </div>
      </div>
      <% end %>

  <hr>
  <% if athlete_signed_in? && @gym.already_joined(@gym, current_athlete)%>
    <%= link_to "<button type='button' class='btn btn-primary navbar-btn'>Vote</button>".html_safe, new_gym_review_path(gym: @gym.id)%>
    <%= link_to "<button type='button' class='btn btn-primary navbar-btn'>Require Worksheet</button>".html_safe, new_worksheet_path(gym: @gym.id)%>
  <% end %>

  <% if athlete_signed_in? && !(@gym.already_joined(@gym, current_athlete)) %>
      <td><%= link_to "Join", gyms_join_path(:id => @gym.id), method: :put , :class=>"btn btn-primary navbar-btn"%></td>
  <% end %>
  <% if athlete_signed_in? && @gym.already_joined(@gym, current_athlete) %>
      <td><%= link_to "Leave", gyms_leave_path(:id => @gym.id), method: :put , :class=>"btn btn-outline-primary"%></td>
  <% end %>
</div>



<br>




<script type="text/javascript">
if (document.readyState=='complete'){
  location.reload();
}

document.addEventListener('DOMContentLoaded', function(){
  // Initialize the  communication with the platform
  var platform = new H.service.Platform({
    'app_id': 'A3k50ziCbuDE8NVHU1lr',
    'app_code': 'PfpBfdphIFeJ0zMC2cq1Pw'
  });
  var pixelRatio = window.devicePixelRatio || 1;
  var defaultLayers = platform.createDefaultLayers({
    tileSize: pixelRatio === 1 ? 256 : 512,
    ppi: pixelRatio === 1 ? undefined : 320
  });

  //Initialize map
  var map = new H.Map(document.getElementById('map'),
    defaultLayers.normal.map, {
      pixelRatio: pixelRatio,
      zoom: 12,
      center: { lat: 41.90, lng: 12.5 }
    });

  //for interactions and UI components
  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
  var ui = H.ui.UI.createDefault(map, defaultLayers);

  //add markers
  var lati = <%= @gym.latitude %>;
  var lngi = <%= @gym.longitude %>;

  var marker = new H.map.Marker({
    lat: lati, lng: lngi});

  map.addObject(marker);
  map.setCenter({lat:lati, lng:lngi});

});
</script>
