<div class="card" style="width: 18rem;">
  <%= image_tag("palestra.jpg", :class => "card-img-top", :alt => "Card image cap") %>
  <div class="card-body">
    <h1><%= @gym.username %></h1><p class="card-text"><br><i><%= @gym.email %></i></p>
  </div>
</div>
</br>

<div class="card">
  <div class="card-body">
    <div class="media">
      <%= image_tag("comments.png", :size =>"20x20") %>
      <div class="media-body">
        <h5 class="mt-0">Comments</h5>
        <hr>
        <% @gym.gym_reviews.each do |comment| %>

        <div class="card w-50 border-primary">
          <div class="card-body">
            <p class="card-text"><%= comment.text %></p>
          </div>
        </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
<br>

<% if athlete_signed_in? %>

  <%= link_to "<button type='button' class='btn btn-primary btn-danger navbar-btn' data-toggle='modal' data-target=''>Vote</button>".html_safe, new_gym_review_path(gym: @gym.id)%>

<% end %>
<% if athlete_signed_in? %>

  <%= link_to "<button type='button' class='btn btn-primary btn-danger navbar-btn' data-toggle='modal' data-target=''>Require Worksheet</button>".html_safe, new_worksheet_path(gym: @gym.id)%>

<% end %>
