<p id="notice"><%= notice %></p>

<h1>Courses</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>gym</th>
      <th>Likes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.gym %></td>
        <td><%= course.likes %></td>
        <td><%= link_to 'Show', course %></td>
        <% if athlete_signed_in? && !(course.already_joined(course, current_athlete)) %>
            <td><%= link_to "join", courses_join_path(:id => course.id), method: :put %></td>
        <% end %>
        <% if athlete_signed_in? && course.already_joined(course, current_athlete) %>
            <td><%= link_to "leave", courses_leave_path(:id => course.id), method: :put %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course', new_course_path %>
