<div class="container">
  <div class="row">
    <div class="col-4">

      <div class="card one shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
        <%= image_tag("course.svg", :class => "card-img-top", :alt => "Card image cap") %>
        <div class="card-body">
          <h1><%= @course.name %></h1>
          <p class="card-text"><br>From gym: <i>
            <%= link_to "#{@course.gym.username}", gym_path(@course.gym.id) %></i></p>
          <p class="card-text"><br>Price: <i><%= @course.price %></i></p>
        </div>
      </div>

    </div>
    <div class="col-8">
      <div id="map"  style="height: 470px; margin: 2%; background: grey" > </div>
    </div>
  </div>
  </div>

  <div class="card card-body">
    <strong>Course description: </strong><i><%= @course.description %></i>
  </div>

<br/>
<div class="card-body">
  <h5 class="mt-0"> <i class="fa fa-comments"></i>&nbsp; Comments </h5> <hr>

      <% @course.course_comments.each do |comment| %>
      <div class="card mb-2">
          <div class="card-header">Posted by <i> <%= comment.athlete.username %></i> </div>
          <div class="card-body">
              <%= comment.text %>
              <footer class="blockquote-footer"><%= comment.created_at %></footer>
          </div>
      </div>
      <% end %>

  <hr>
  <% if athlete_signed_in? && @course.already_joined(@course, current_athlete) %>
    <%= link_to "<button type='button' class='btn btn-primary navbar-btn' data-toggle='modal' data-target=''>Leave a Comment</button>".html_safe, new_course_comment_path(course: @course.id)%>
  <% end %>

  <% if athlete_signed_in? && !(@course.already_joined(@course, current_athlete)) %>
      <td><%= link_to "join", courses_join_path(:id => @course.id), method: :put , :class=>"btn btn-primary navbar-btn"%></td>
  <% end %>
  <% if athlete_signed_in? && @course.already_joined(@course, current_athlete) %>
      <td><%= link_to "leave", courses_leave_path(:id => @course.id), method: :put , :class=>"btn btn-outline-primary"%></td>
  <% end %>
</div>
<br />




<script type="text/javascript">
if (document.readyState=='complete'){
  location.reload();
}

document.addEventListener('DOMContentLoaded', function(){
  // Initialize the  communication with the platform
  var platform = new H.service.Platform({
    'app_id': 'A3k50ziCbuDE8NVHU1lr',
    'app_code': 'PfpBfdphIFeJ0zMC2cq1Pw'
  });
  var pixelRatio = window.devicePixelRatio || 1;
  var defaultLayers = platform.createDefaultLayers({
    tileSize: pixelRatio === 1 ? 256 : 512,
    ppi: pixelRatio === 1 ? undefined : 320
  });

  //Initialize map
  var map = new H.Map(document.getElementById('map'),
    defaultLayers.normal.map, {
      pixelRatio: pixelRatio,
      zoom: 12,
      center: { lat: 41.90, lng: 12.5 }
    });

  //for interactions and UI components
  var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
  var ui = H.ui.UI.createDefault(map, defaultLayers);

  //add markers
  var lati = <%= @course.gym.latitude %>;
  var lngi = <%= @course.gym.longitude %>;

  var marker = new H.map.Marker({
    lat: lati, lng: lngi});

  map.addObject(marker);
  map.setCenter({lat:lati, lng:lngi});
});
</script>
