<%= form_with(model: course_comment, local: true) do |form| %>
  <% if course_comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(course_comment.errors.count, "error") %> prohibited this course_comment from being saved:</h2>

      <ul>
      <% course_comment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br>
      <div class="field">
        <div class="card">
          <h2 class="card-title">Your course comment</h2>
          <div class="card-body">
            <h4><%= form.label :text %></h4>
            <%= form.text_area :text %>
          </div>
        </div>

        <%= form.hidden_field :course_id, value: params[:course] %>
      </div>



  <div class="actions">
    <%= form.submit :class =>"btn btn-primary navbar-btn"%>
  </div>
  <br>
<% end %>
