<!DOCTYPE html>
<html>
  <head>
    <title>LiwiroApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/modal' %>

    <div class="container">
      <%= yield %>
    </div>

    <%= debug(params) if Rails.env.development? %>
    <%= render 'layouts/footer' %>

    <style>
      $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})

$('.carousel').carousel()
      </style>
      
  </body>
</html>
